@import url('./global.css');

form{

    display: flex;

    justify-content: center;

    align-items: center;

    flex-direction: column;
    
}

label{

    font-size: 25px;

    margin: 20px;

    font-weight: bold;

}

input{

    padding: 10px;

    border-radius: 10px;

    border: 2px solid black;

    font-size: 18px;

    font-family: Arial, Helvetica, sans-serif;

    text-align: center;

}

#btExcluirTodos, #btExcluirUm {

    background-color: red;

}

#btExcluirTodos:hover, #btExcluirUm:hover{

    background-color: white;

}

.linhaDeBloco{

    border: 3px solid black;

    width: 80vw;

    border-radius: 15px;

}